{
    "all": true,
    "include": "src",
    "exclude": "src/index.js",
    "sourceMap": false,
    "instrument": true,
    "report-dir": "./coverage",
    "temp-dir": "./coverage/.nyc_output",
    "reporter": [
        "text",
        "lcov"
    ]
}