{
    "all": true,
    "include": "src",
    "exclude": "src/index.js",
    "sourceMap": false,
    "instrument": false,
    "report-dir": "./coverage",
    "temp-dir": "./coverage/.nyc_output",
    "require": [
        "@babel/register"
    ],
    "reporter": [
        "text",
        "html"
    ]
}